DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': "{{ awx__postgres_db }}",
        'USER': "{{ awx__postgres_username }}",
        'PASSWORD': "{{ awx__postgres_password }}",
        'HOST': "{{ awx__postgres_host  | default('awx_postgres') }}",
        'PORT': "{{ awx__postgres_host_port | default('5432') }}",
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ awx__broadcast_websocket_secret | b64encode }}"